*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Arial, Helvetica, sans-serif;
}


body{
display:flex;
justify-content:center;
align-items:center;
min-height:100dvh;
padding:16px;
background:#fff;

/* suporte a notch iphone */
padding-top:env(safe-area-inset-top);
padding-bottom:env(safe-area-inset-bottom);
padding-left:env(safe-area-inset-left);
padding-right:env(safe-area-inset-right);
}

.app{
display:flex;
flex-direction:column;
justify-content:center;
align-items:center;
width:100%;
max-width:360px;

background:url('/assets/img/bg-home.png');
background-size:cover;
background-position:center;

border-radius:24px;
padding:18px;

overflow:hidden;
}

.img-top-home {
    padding-bottom: .5rem;
}

.app img{
width:100%;
height:auto;
display:block;
}

/* cards */

.menu-card{
cursor:pointer;
transition:all 0.25s ease;
width:100%;
border-radius:14px;
overflow:hidden;
}

.menu-card:hover{
transform:scale(1.03);
}

.menu-card:active{
transform:scale(0.97);
}

/* profile */

.profile-card{
background:#ff3f5e;
color:white;
padding:18px;
border-radius:16px;
text-align:center;
margin-bottom:16px;
width:100%;
box-shadow:0 6px 14px rgba(0,0,0,0.15);
}

/* botão whatsapp */

.whatsapp{
display:block;
background:#ff3f5e;
color:white;
text-align:center;
padding:14px;
border-radius:14px;
font-weight:bold;
text-decoration:none;
cursor:pointer;
transition:all 0.2s ease;
width:100%;

box-shadow:0 6px 14px rgba(0,0,0,0.2);
}

.whatsapp:hover{
background:#ee2244;
}

.whatsapp:active{
transform:scale(0.97);
}

/* botão voltar */

.back{
background:#ff3f5e;
color:white;
border:none;
width:36px;
height:36px;
border-radius:50%;
margin-bottom:10px;
cursor:pointer;
transition:0.2s;
}

.back:active{
transform:scale(0.92);
}

/* grid de videos */

.video-grid{
display:grid;
grid-template-columns:1fr 1fr;
gap:12px;
margin-bottom:18px;
width:100%;
}

.video-card{
position:relative;
cursor:pointer;
width:100%;
}

.video-card img{
width:100%;
border-radius:12px;
}

/* botão play */

.play{
position:absolute;
top:50%;
left:50%;
transform:translate(-50%,-50%);
background:rgba(164,164,164,0.6);
color:white;
width:42px;
height:42px;
border-radius:50%;
display:flex;
align-items:center;
justify-content:center;
font-size:18px;
backdrop-filter:blur(6px);
}

/* modal */

#videoModal{
position:fixed;
top:0;
left:0;
width:100%;
height:100dvh;

background:rgba(0,0,0,0.75);
backdrop-filter:blur(6px);

display:none;
align-items:center;
justify-content:center;
padding:16px;
}

.modal-content{
width:100%;
max-width:420px;
background:white;
padding:16px;
border-radius:16px;

box-shadow:0 20px 40px rgba(0,0,0,0.35);
}

.modal-content video{
width:100%;
border-radius:12px;
margin-bottom:12px;
}

.close{
background:#ff3f5e;
border:none;
color:white;
width:30px;
height:30px;
border-radius:50%;
float:right;
cursor:pointer;
}

/* telas muito pequenas */

@media (max-width:360px){

.app{
padding:14px;
}

.video-grid{
grid-template-columns:1fr;
}

}